*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizard.settings.xml
.setting/
/.externalNativeBuild
/.cxx
/build
/app/build
/captures
.externalNativeBuild
.cxx
/build
/.agents
/.kotlin
/.vscode
/build_log.txt
/build_output.txt
/build_output*.txt
/compile_out*.txt
/logcat_*.txt
/crash_log.txt
/task.md
